%tr.nested-fields
	%td
		.product-name.inline-block
			= f.object.name
			- if f.object.persisted?
				- if f.object.customisations.size > 0
					%ul.list-unstyled
						- f.object.customisations.includes(:specification).each do |customisation|
							%li.small= "#{customisation.specification.name} #{customisation.value}"
				- if f.object.image_customisations.size > 0
					%ul.list-unstyled
						- f.object.image_customisations.includes(:characteristic, :characteristic_image).each do |customisation|
							%li.small
								= customisation.characteristic.name
								= image_tag customisation.characteristic_image.name.small, width: 20
				- if f.object.customer_customisations.size > 0
					%ul.list-unstyled
						- f.object.customer_customisations.each do |customisation|
							%li.small
								= customisation.name
								= image_tag customisation.image.small, width: 20
				.inline-block
					= link_to edit_admin_requirement_item_path(f.object.id), class: 'btn btn-link', title: 'Customise Item' do
						%span.glyphicon.glyphicon-wrench
		= f.hidden_field :product_id, class: 'product-id'
		= link_to_remove_association f do
			%span.glyphicon.glyphicon-remove.delete-link.pull-right
	%td= f.number_field :quantity, class: 'quantity-field text-right form-control', min: 1
	%td= f.number_field :price, class: 'text-right form-control product-price', step: 'any'
