.row
  .col-md-12
    %h2 Requirement
  .col-md-12
    .quotation-form.main-content
      .h3.text-center Requirement Form
      %hr
      .row
        .col-md-8
          / .quotation-info
          /   .customer-labels Name:
          /   %strong= @requirement.customer.name
          / .quotation-info
          /   .customer-labels Address:
          /   %strong= @requirement.customer.full_address
          / .quotation-info
          /   .customer-labels Contact No:
          /   %strong= @requirement.customer.mobile
          / .quotation-info
          /   .customer-labels Email:
          /   %strong= @requirement.customer.email
        .col-md-4
          .quotation-info
            .customer-labels Requirement No:
            %strong= @requirement.id
          .quotation-info
            .customer-labels Date:
            %strong= @requirement.created_at.strftime '%d-%m-%Y'
      .row
        .col-md-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th{ width: '50%' } Product
                %th{ width: '40%' } Description
                %th.text-right Qty
            %tbody
              - @requirement.products.each do |product|
                %tr
                  %td
                    = product.name
                    - if product.customisations.size > 0
                      %ul.list-unstyled
                        - product.customisations.includes(:specification).each do |customisation|
                          %li.small= "#{customisation.specification.name} #{customisation.value}"
                    - if product.image_customisations.size > 0
                      %ul.list-unstyled
                        - product.image_customisations.includes(:characteristic, :characteristic_image).each do |customisation|
                          %li.small
                            = customisation.characteristic.name
                            = image_tag customisation.characteristic_image.name, width: 20
                    - if product.customer_customisations.size > 0
                      %ul.list-unstyled
                        - product.customer_customisations.each do |customisation|
                          %li.small
                            = customisation.name
                            = image_tag customisation.image, width: 20
                  %td= product.description
                  %td.text-right= product.quantity
