.row
	.col-md-12
		%h2 Order Summary
	.col-md-10.col-md-offset-1
		.main-content
			%br
			.row
				.col-md-6 Product
				.col-md-2 Quantity
				.col-md-2.text-right Price
				.col-md-2.text-right Amount
			- subtotal = 0
			- @cart.items.includes(:product).each do |item|
				.row
					.col-md-3= image_tag item.product.images.first.name.thumbnail
					.col-md-3= item.product.name
					.col-md-2= item.quantity
					.col-md-2.text-right= number_to_currency item.product.online_price
					.col-md-2.text-right
						- amount = item.product.online_price * item.quantity
						- subtotal += amount
						= number_to_currency amount
			%hr
			.row.text-right
				.col-md-offset-8.col-md-2 Subtotal
				.col-md-2.subtotal{ 'data-subtotal' => subtotal }= number_to_currency subtotal
			%hr
			.row
				.col-md-12.text-right
					= form_for [:front, @order], url: front_order_path do |f|
						= f.button 'Confirm Order', class: 'btn btn-primary'
