.row
	.col-md-12
		.alert.alert-info.text-center
			= "Thank you for your patronage. We have reserved the items in your cart while you proceed with the checkout. Please complete the order within the next #{distance_of_time_in_words @cart.place_order_by, Time.zone.now}. You will be redirected to the cart if the timer expires."
			%br
			.stock-block.text-center{'data-redirect-path' => edit_front_cart_path, 'data-seconds' => (@cart.place_order_by - Time.zone.now).to_i }= Time.at(@cart.place_order_by - Time.zone.now).utc.strftime("%H:%M:%S")
		%h2 Order Summary
	.col-md-7
		.main-content
			%h3 Order Details
			.row
				.col-md-6 Product
				.col-md-2 Quantity
				.col-md-2.text-right Price
				.col-md-2.text-right Amount
			- subtotal, total_discount, description = 0, 0, []
			- @cart.items.includes(:product).each do |item|
				.row
					.col-md-3= image_tag item.product.images.first.name.thumbnail
					.col-md-3
						= item.product.name
						- description << item.product.name
					.col-md-2= item.quantity
					.col-md-2.text-right= number_to_currency item.product.online_price
					.col-md-2.text-right
						- amount = item.product.final_online_price_with_taxes * item.quantity
						- if @cart.coupon_code && @cart.coupon_code.products.ids.include?(item.product.id)
							- discount = (amount * @cart.coupon_code.percent/100)
							- total_discount += discount
							- amount -= discount
							%s= number_to_currency amount + discount
							%br
						- subtotal += amount
						= number_to_currency amount
			%hr
			.row.text-right
				.col-md-offset-8.col-md-2 Subtotal
				.col-md-2.subtotal{ 'data-subtotal' => subtotal }
					- if total_discount > 0
						%s= number_to_currency subtotal + total_discount
						%br
					= number_to_currency subtotal
			- if @cart.coupon_code
				.row.text-right
					.col-md-offset-8.col-md-2 Coupon Applied
					.col-md-2= @cart.coupon_code.code
	.col-md-4.col-md-offset-1
		.main-content
			%h3 Ship To
			= @current_customer.name
			%br
			= @current_customer.address
			%br
			= @current_customer.city
			= @current_customer.state
			%br
			= @current_customer.pincode
			%br
			Mobile:
			= @current_customer.mobile

%hr
.row
	.col-md-4
		= link_to 'Back To Cart', edit_front_cart_path, class: 'btn btn-default'
	.col-md-4.text-right.order-conditions
		= check_box_tag 'terms', nil, false, required: true
		= label_tag 'terms', "I Accept the #{link_to 'Terms And Conditions', front_page_path('terms-and-conditions'), target: :_blank}".html_safe
	.col-md-4.text-right
		- reference_no = "#{Time.now.to_i}"
		- return_url = "#{payment_front_order_url}?DR={DR}"
		- mode = ENV['EBS_GATEWAY_MODE']
		- amount = subtotal.round(t('number.currency.format.precision'))
		- string = "#{ENV['EBS_SECRET_KEY']}|#{ENV['EBS_ACCOUNT_ID']}|#{amount}|#{reference_no}|#{return_url}|#{mode}"
		- secure_hash = Digest::MD5.hexdigest(string)
		= form_tag 'https://secure.ebs.in/pg/ma/sale/pay', authenticity_token: false, class: 'form-inline' do
			= hidden_field_tag 'account_id', ENV['EBS_ACCOUNT_ID']
			= hidden_field_tag 'amount', amount
			= hidden_field_tag 'description', description.join(' + ')
			/ Billing Details
			= hidden_field_tag 'name', @current_customer.name
			= hidden_field_tag 'address', @current_customer.address
			= hidden_field_tag 'city', @current_customer.city
			= hidden_field_tag 'state', @current_customer.state
			= hidden_field_tag 'country', 'IN'
			= hidden_field_tag 'postal_code', @current_customer.pincode
			= hidden_field_tag 'phone', @current_customer.mobile
			= hidden_field_tag 'email', @current_customer.email
			/ Shipping Details
			= hidden_field_tag 'ship_name', @current_customer.name
			= hidden_field_tag 'ship_address', @current_customer.address
			= hidden_field_tag 'ship_city', @current_customer.city
			= hidden_field_tag 'ship_state', @current_customer.state
			= hidden_field_tag 'ship_country', 'IN'
			= hidden_field_tag 'ship_postal_code', @current_customer.pincode
			= hidden_field_tag 'reference_no', reference_no
			= hidden_field_tag 'mode', mode
			.form-group
				= label_tag 'payment_option', 'Pay Using'
				= select_tag 'payment_option', options_for_select([['Credit Card', 'Credit'], ['Debit Card', 'Debit'], ['Net Banking', 'Net Banking'], ['EMI', 'EMI']], 'Net Banking'), class: 'form-control'
				= hidden_field_tag 'payment_option', '1001' if mode == 'TEST'
			= hidden_field_tag 'return_url', return_url
			= hidden_field_tag 'secure_hash', secure_hash
			.form-group
				= submit_tag 'Proceed To Payment', name: 'submitted', class: 'btn btn-primary payment-gateway', disabled: true
