%tr.nested-fields
	%td
		%span.product-name= f.object.name
		= f.hidden_field :product_id, class: 'product-id'
		= link_to_remove_association f do
			%span.glyphicon.glyphicon-remove.delete-link.pull-right
	%td= f.number_field :quantity, class: 'quantity-field text-right form-control', min: 1
	%td.product-rate.text-right= f.object.try(:price)
	%td.product-amount.text-right= f.object.price * f.object.quantity if f.object.price
