.row
  .col-md-12
    %h2 Quotation
  .col-md-10.col-md-offset-1
    .profile-box
      .text-right
        =link_to 'New Quotation', admin_customers_path
      %br
      %table
        %tr
          %th Quotation No
          %th Quotation Date
          %th Customer Name
          %th Mobile
          %th.text-center Actions
        - @quotations.each do |quotation|
          %tr
            %td= quotation.id
            %td= quotation.created_at.strftime '%d-%m-%Y'
            %td= quotation.customer.name
            %td= quotation.customer.mobile
            %td.actions.text-center
              = link_to admin_quotation_path(quotation) do
                %span.glyphicon.glyphicon-search
              =link_to admin_quotation_path(quotation,format: :pdf), target: :_blank do
                %span.glyphicon.glyphicon-print
