.row
  .col-md-12
    %h2 Quotation
  .col-md-10.col-md-offset-1
    .quotation-form.main-content
      .h3.text-center Quotation Form
      %hr
      .row
        .col-md-8
          .quotation-info
            .customer-labels Name:
            %strong= @customer.name
          .quotation-info
            .customer-labels Address:
            %strong= @customer.address
          .quotation-info
            .customer-labels Contact No:
            %strong= @customer.mobile
        .col-md-4
          .quotation-info
            .customer-labels Quotation No:
            %strong= Quotation.all.size + 1
          .quotation-info
            .customer-labels Date:
            %strong= Time.zone.now.strftime '%d-%m-%Y'
      .row
        .col-md-12
          = form_for [:admin, @quotation], url: admin_customer_quotations_path(@customer) do |f|
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th{ width: '50%' } Product
                  %th Qty
                  %th{ width: '20%' } Rate
                  %th{ width: '20%' } Amount
              %tbody.quotation-products
                = f.fields_for :products do |product|
                  = render 'product_fields', f: product
                %tr.add-more
                  %td{ colspan: 4 }
                    = text_field_tag :product, '', 'data-url' => products_admin_quotations_path, class: 'autocomplete', autocomplete: 'off', placeholder: 'Search for product here'
                    = link_to_add_association 'Add Product', f, :products, 'data-association-insertion-node' => '.add-more', class: 'hidden add-product'
              %tfoot
                %tr
                  %td{ colspan: 3 }
                    %strong Total
                  %td.sub-total.text-right
                %tr
                  %td{ colspan: 3 }
                    = f.label :discount_amount, 'Discount'
                    = number_field_tag :discount_percent, 0, class: 'discount-percent text-right', min: 0, step: '0.01'
                    \%
                  %td= f.number_field :discount_amount, class: 'text-right', step: '0.01'
                %tr
                  %td{ colspan: 3 }
                    %strong Full Total
                  %td.full-total.text-right
            .form-group.text-center
              = f.submit "Submit", class: "btn btn-primary"
              = link_to "Cancel", :back, class: "btn btn-default"
