= form_for [:admin, @banner] do |f|
  .form-group
    = f.label :name, class: 'required'
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :location, class: 'required'
    = f.select :location, Banner.locations.keys.map{|x| [x.humanize, x] }, {}, class: 'form-control text-capitalize'
  .form-group
    = f.label :image
    = f.file_field :image
    %br
    Ideal Dimensions for Main Banner : 990 X 392
    %br
    Ideal Dimensions for Bottom Banners: 431 X 400
  %br
  = render 'categories_modal', f: f
  .form-group.text-center
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'
