= form_for [:admin, @product_type], remote: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :require_workshop
    = f.check_box :require_workshop
  = f.collection_check_boxes(:tax_ids, Tax.roots, :id, :name) do |tax|
    .form-group
      = tax.check_box
      = tax.label
      = tax.object.percentage
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
