.row
  .col-md-12
    %h2 Content Page
  .col-md-12
    .profile-box
      .text-right
        =link_to 'New Content Page', new_admin_content_page_path
      %br
      %table
        %tr
          %th Title
          %th Slug
          %th Menu
          %th Menu Link
          %th.text-center Actions
        - @content_pages.each do |content_page|
          %tr
            %td= content_page.title
            %td= content_page.slug
            %td= content_page.menu? ? 'Shown' : 'Hidden'
            %td= content_page.link_text
            %td.actions.text-center
              = link_to edit_admin_content_page_path(content_page) do
                %span.glyphicon.glyphicon-pencil
              = link_to admin_content_page_path(content_page), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
                %span.glyphicon.glyphicon-remove
