.row
	.col-md-12
		%h2 Customer
	.col-md-10.col-md-offset-1
		.main-content
			.row
				.col-md-4= paginate @customers
				.col-md-4
					= form_tag search_admin_customers_path, method: :get do
						.input-group
							= text_field_tag :q, params[:q], placeholder: 'Search for Name/Mobile/Email', class: 'form-control'
							%span.input-group-btn.text-left
								%button.btn.btn-default{ type: 'submit' }
									%span.glyphicon.glyphicon-search
				.col-md-4.text-right
					=link_to 'Create Customer', new_admin_customer_path
			%br
			%table.table
				%tr
					%th Name
					%th Address
					%th Mobile
					%th Email
					%th Orders
					%th.text-center Sales
					%th.text-center After Sales
					%th.text-center Actions
				- @customers.each do |customer|
					%tr
						%td= customer.name
						%td= customer.address
						%td= customer.mobile
						%td= customer.email
						%td.text-center= customer.orders.size
						%td.actions.text-center
							= link_to 'New Quote', new_admin_customer_quotation_path(customer)
							= link_to 'Assign to Cart', assign_admin_carts_path(customer), method: :post
						%td.actions.text-center
							= link_to 'New Invoice', new_admin_customer_invoice_path(customer)
						%td.actions.text-center
							= link_to edit_admin_customer_path(customer) do
								%span.glyphicon.glyphicon-pencil
							= link_to admin_customer_path(customer), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
								%span.glyphicon.glyphicon-remove
