.row
	.col-md-12
		%h2 All Carts for your outlet
	.col-md-12
		.profile-box
			%br
			%table
				%tr
					%th Customer
					%th Mobile
					%th Facilitator
					%th Email
					%th.text-center Actions
				- @carts.each do |cart|
					%tr
						%td= cart.customer.try(:name)
						%td= cart.customer.try(:mobile)
						%td= cart.user.name
						%td= cart.user.phone
						%td.actions.text-center
							= link_to 'View Cart', edit_admin_cart_path(cart)
							/ = link_to admin_customer_path(customer), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
							/ %span.glyphicon.glyphicon-remove
