.row
	.col-md-12
		%h2 Orders
	.col-md-12
		.profile-box
			= paginate @orders
			%br
			%table.table.table-striped.table-responsive
				%thead
					%tr
						%th Order No
						%th Order Date
						%th Order Time
						%th Customer
						%th Contact No
						%th.text-right Receipts
						%th.text-center
							.has-tooltip{ data: { toggle: 'tooltip', placement: 'top',  title: 'Flagged orders can be invoiced before payment.' } } Flag
						%th.text-center Actions
				%tbody
					- @orders.each do |order|
						%tr
							%td= order.id
							%td= order.created_at.strftime '%d-%m-%Y'
							%td= order.created_at.strftime '%H:%M'
							%td= order.customer.try(:name)
							%td= order.customer.try(:mobile)
							%td.text-right= link_to order.receipts.size, admin_order_receipts_path(order)
							%td.text-center
								- if order.overridden?
									%span.glyphicon.glyphicon-flag
								- else
									- if can? :flag, Order
										= form_tag flag_admin_order_path(order), method: :patch, class: 'form-inline' do
											= text_area_tag :comment, '', class: 'hidden form-control', required: true, id: "comment-#{order.id}", placeholder: 'Please enter a comment for Invoicing Department'
											= button_tag 'Flag', class: 'btn btn-link flag-adder', 'data-comment' => "comment-#{order.id}"
								- if order.comment.present?
									%span.glyphicon.glyphicon-comment.has-tooltip{ data: { toggle: 'tooltip', placement: 'top',  title: order.comment } }
							%td.actions.text-center
								= link_to 'New Receipt', new_admin_order_receipt_path(order)
								= link_to 'View', admin_order_path(order)
								= link_to admin_order_path(order, format: :pdf), target: :_blank do
									%span.glyphicon.glyphicon-print
			= paginate @orders
