.row
	.col-md-12
		%h2 Orders
	.col-md-10.col-md-offset-1
		.profile-box
			%br
			%table
				%tr
					%th Order No
					%th Order Date
					%th Order Time
					%th Customer
					%th Contact No
					%th Receipts
					%th.text-center Actions
				- @orders.each do |order|
					%tr
						%td= order.id
						%td= order.created_at.strftime '%d-%m-%Y'
						%td= order.created_at.strftime '%H:%M'
						%td= order.customer.name
						%td= order.customer.mobile
						%td= order.receipts.size
						%td.actions.text-center
							= link_to 'View', admin_order_path(order)
							= link_to 'New Receipt', new_admin_order_receipt_path(order)
