<div class="row">
  <div class="col-md-12">
    <h2>Order</h2>
  </div>
  <div class="col-md-12">
    <div class="order-form main-content">
      <div class="h3 text-center">Order Details</div>
      <hr/>
      <div class="row">
        <div class="col-md-8">
          <div class="order-info">
            <div class="customer-labels">Name:</div>
            <strong>
              <%= @order.customer.try(:name) %>
            </strong>
          </div>
          <div class="order-info">
            <div class="customer-labels">Address:</div>
            <strong>
              <%= @order.customer.try(:full_address) %>
            </strong>
          </div>
          <div class="order-info">
            <div class="customer-labels">Contact No:</div>
            <strong>
              <%= @order.customer.try(:mobile) %>
            </strong>
          </div>
        </div>
        <div class="col-md-4">
          <div class="order-info">
            <div class="customer-labels">Order No:</div>
            <strong>
              <%= @order.id %>
            </strong>
          </div>
          <div class="order-info">
            <div class="customer-labels">Date:</div>
            <strong>
              <%= @order.created_at.strftime '%d-%m-%Y' %>
            </strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="50%">Product</th>
                <th>Qty</th>
                <th width="20%">Rate</th>
                <th width="20%">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @order.items.each do |item| %>
                <tr>
                  <td>
                    <%= item.name %>
                    <% if item.customisations.size > 0 %>
                      <ul class="list-unstyled">
                        <% item.customisations.includes(:specification).each do |customisation| %>
                          <li class="small">
                            <%= "#{customisation.specification.name} #{customisation.value}" %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                    <% if item.image_customisations.size > 0 %>
                      <ul class="list-unstyled">
                        <% item.image_customisations.includes(:characteristic).each do |customisation| %>
                          <li class="small">
                            <%= customisation.characteristic.name %>
                            <%= image_tag customisation.characteristic_image.name, width: 20 %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </td>
                  <td class="text-right">
                    <%= item.quantity %>
                  </td>
                  <td class="text-right">
                    <%= number_to_currency item.price %>
                  </td>
                  <td class="text-right">
                    <%= number_to_currency item.quantity * item.price %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>
                    <div class="text-right">
                      <%= number_to_currency @order.subtotal %>
                    </div>
                  </strong>
                </td>
              </tr>
              <% @order.taxes.each do |tax| %>
                <tr>
                  <td colspan="3">
                    <strong>
                      <%= tax.name %>
                    </strong>
                  </td>
                  <td class="text-right">
                    <%= number_to_currency tax.amount %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td colspan="3">
                  <strong>Gross Amount</strong>
                </td>
                <td>
                  <strong>
                    <div class="text-right">
                      <%= number_to_currency @order.subtotal + @order.tax_amount %>
                    </div>
                  </strong>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <strong>
                    <%= "Discount #{(@order.discount_amount*100/(@order.subtotal + @order.tax_amount)).round(2)}%" %>
                  </strong>
                </td>
                <td class="text-right">
                  <%= number_to_currency -@order.discount_amount %>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <strong>Final Total</strong>
                </td>
                <td>
                  <strong>
                    <div class="text-right">
                      <%= number_to_currency @order.total %>
                    </div>
                  </strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
