.row
  .col-md-12
    %h2 Order
  .col-md-12
    .order-form.main-content
      .h3.text-center Order Details
      %hr
      .row
        .col-md-8
          .order-info
            .customer-labels Name:
            %strong= @order.customer.try(:name)
          .order-info
            .customer-labels Address:
            %strong= @order.customer.try(:full_address)
          .order-info
            .customer-labels Contact No:
            %strong= @order.customer.try(:mobile)
        .col-md-4
          .order-info
            .customer-labels Order No:
            %strong= @order.id
          .order-info
            .customer-labels Date:
            %strong= @order.created_at.strftime '%d-%m-%Y'
      .row
        .col-md-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th{ width: '50%' } Product
                %th Qty
                %th{ width: '20%' } Rate
                %th{ width: '20%' } Amount
            %tbody
              - @order.items.each do |item|
                %tr
                  %td
                    = item.name
                    - if item.customisations.size > 0
                      %ul.list-unstyled
                        - item.customisations.includes(:specification).each do |customisation|
                          %li.small= "#{customisation.specification.name} #{customisation.value}"
                    - if item.image_customisations.size > 0
                      %ul.list-unstyled
                        - item.image_customisations.includes(:characteristic).each do |customisation|
                          %li.small
                            = customisation.characteristic.name
                            = image_tag customisation.characteristic_image.name, width: 20
                  %td.text-right= item.quantity
                  %td.text-right= number_to_currency item.price
                  %td.text-right= number_to_currency item.quantity * item.price

            %tfoot
              %tr
                %td{ colspan: 3 }
                  %strong Total
                %td
                  %strong
                    .text-right= number_to_currency @order.subtotal
              - @order.taxes.each do |tax|
                %tr
                  %td{ colspan: 3 }
                    %strong= tax.name
                  %td.text-right= number_to_currency tax.amount
              %tr
                %td{ colspan: 3 }
                  %strong= "Discount #{(@order.discount_amount*100/(@order.subtotal + @order.tax_amount)).round(2)}%"
                %td.text-right= number_to_currency -@order.discount_amount
              %tr
                %td{ colspan: 3 }
                  %strong Final Total
                %td
                  %strong
                    .text-right= number_to_currency @order.total
