!!!
%html
	%head
		%title Damian de Goa
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
		= favicon_link_tag "favicon.ico"
		= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.container
			- if logged_in?
				%header
					.row
						.col-md-5
							= link_to admin_root_path do
								= image_tag 'logo.png'
						.col-md-7
							%span.pull-right= "Welcome #{@current_user.name}"
							.row
								.col-md-10
									.cart-menu
										= link_to active_cart_url do
											%span.glyphicon.glyphicon-shopping-cart.pull-right
											%span.badge= cart_count
							%ul.nav.nav-tabs
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Reports
										%span.caret
									%ul.dropdown-menu
										%li= link_to 'Stock Report', stock_admin_reports_path
										%li= link_to 'Daily Report', "#"
										%li= link_to 'Receipt Report', "#"
										%li= link_to 'Sales Report', "#"
										%li= link_to 'Oustanding Bills Report', "#"
										%li= link_to 'Oustanding Partywise Report', "#"
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Users
										%span.caret
									%ul.dropdown-menu
										- if can? :manage, User
											%li= link_to 'Users', admin_users_path
										%li= link_to 'Customers', admin_customers_path
										%li= link_to 'Roles', admin_roles_path
										%li= link_to 'Available Permissions', admin_permissions_path
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Orders
										%span.caret
									%ul.dropdown-menu
										%li= link_to 'Carts', admin_carts_path
										%li= link_to 'Quotations', admin_quotations_path
										%li= link_to 'Orders', admin_orders_path
										%li= link_to 'Online Orders & Invoices', admin_online_orders_path
										%li= link_to 'Receipts', admin_receipts_path
										%li= link_to 'Invoices', admin_invoices_path
										%li= link_to 'Workshop', admin_workshop_index_path
								- if can? :read, Category or can? :read, Product
									%li.dropdown{ role: 'presentation' }
										%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
											Catalog
											%span.caret
										%ul.dropdown-menu
											- if can? :read, Category
												%li= link_to 'Categories', admin_categories_path
											- if can? :read, Product
												%li= link_to 'Products', admin_products_path
												%li= link_to 'Product Groups', admin_product_groups_path
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Store Settings
										%span.caret
									%ul.dropdown-menu
										%li= link_to 'Coupon Codes', admin_coupon_codes_path
										%li= link_to 'Specifications', admin_specifications_path
										%li= link_to 'Image Specifications', admin_characteristics_path
										%li= link_to 'Online Taxes', admin_online_taxes_path
										%li= link_to 'Taxes', admin_taxes_path
										%li= link_to 'Taxes by Product Type', admin_product_types_path
										- if can? :manage, Outlet
											%li= link_to 'Outlets', admin_outlets_path
										%li= link_to 'Banners', admin_banners_path
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Profile
										%span.caret
									%ul.dropdown-menu
										%li
											- if can? :read, @current_user
												= link_to 'Profile', admin_user_path(@current_user)
											= link_to 'Logout', logout_admin_users_path, method: :delete
			- [@user, @outlet, @category, @product, @customer, @quotation, @stock, @cart, @cart_item, @order, @coupon_code, @receipt, @invoice, @content_page, @characteristic].each do |object|
				-if object.try(:errors).try(:any?)
					.alert.alert-danger
						%ul
							- object.errors.full_messages.each do |msg|
								%li= msg
			- flash.each do |message_type, message|
				.alert{class: "alert-#{message_type}" }= message
			= yield
