!!!
%html
	%head
		%title Damiandegoa
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
		= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.container
			- if logged_in?
				%header
					.row
						.col-md-5
							= link_to admin_root_path do
								= image_tag 'admin/logo.png'
						.col-md-5
							%ul.nav.nav-tabs
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Reports
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to 'Stock Report', "#"
										%li
											= link_to 'Daily Report', "#"
										%li
											= link_to 'Receipt Report', "#"
										%li
											= link_to 'Sales Report', "#"
										%li
											= link_to 'Oustanding Bills Report', "#"
										%li
											= link_to 'Oustanding Partywise Report', "#"
								%li
									= link_to 'Admin', admin_users_path
								%li
									= link_to 'Outlet', "#"
								%li
									= link_to 'Roles', "#"
								%li.dropdown{ role: 'presentation' }
									%a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
										Profile
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to 'Profile', admin_user_path(@current_user)
											= link_to 'Logout', logout_admin_users_path, method: "delete"
						.col-md-2
							%span.pull-right= "Welcome #{@current_user.name}"
			- [@user].each do |object|
				-if object && object.errors.any?
					.alert.alert-danger
						%ul
							- object.errors.full_messages.each do |msg|
								%li= msg
			- flash.each do |message_type, message|
				.alert{class: "alert-#{message_type}" }= message
			= yield
