.row
	.col-md-12
		%h2 Invoices
	.col-md-12
		.profile-box
			.row
				.col-md-12= paginate @invoices
				.col-md-12
					%br
					%table.table-striped.table-responsive.table
						%tr
							%th Name
							%th Invoice No
							%th Invoice Date
							%th Amount
							%th Receipts
							%th.text-center Actions
						- @invoices.each do |invoice|
							%tr
								%td= invoice.customer.try(:name)
								%td= invoice.id
								%td= invoice.created_at.strftime '%d-%m-%Y'
								%td= invoice.amount
								%td= invoice.orders.sum(:receipts_count)
								%td.actions.text-center
									= render 'invoice_actions', invoice: invoice
				.col-md-12= paginate @invoices
