.row
  .col-md-12
    %h2 New Invoice
  .col-md-10.col-md-offset-1
    .quotation-form.main-content
      .h3.text-center Invoice Form
      %hr
      .row
        .col-md-8
          .quotation-info
            .customer-labels Name:
            %strong= @customer.name
          .quotation-info
            .customer-labels Address:
            %strong= @customer.full_address
          .quotation-info
            .customer-labels Contact No:
            %strong= @customer.mobile
          .quotation-info
            .customer-labels Email:
            %strong= @customer.email
        .col-md-4
          .quotation-info
            .customer-labels Invoice No:
            %strong= Invoice.all.size + 1
          .quotation-info
            .customer-labels Date:
            %strong= Time.zone.now.strftime '%d-%m-%Y'
      .row
        .col-md-12
          = form_for [:admin, @customer, @invoice] do |f|
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th.text-right Order. No
                  %th.text-right Order Date
                  %th.text-right Amount
                  %th.text-right Tax
                  %th.text-right Discount
                  %th.text-right Total
                  %th Action
              %tbody.quotation-products
                = f.collection_check_boxes(:order_ids, @customer.orders, :id, :id) do |order|
                  %tr
                    %td.text-right= order.object.id
                    %td.text-right= order.object.created_at.strftime('%d-%m-%Y')
                    %td.text-right= order.object.subtotal
                    %td.text-right= order.object.tax_amount
                    %td.text-right= order.object.discount_amount
                    %td.text-right= order.object.subtotal + order.object.tax_amount - order.object.discount_amount
                    %td.text-center
                      - if order.object.invoice_id
                        = link_to 'Invoice', admin_invoice_path(order.object.invoice_id), class: 'btn btn-default'
                      - else
                        - if order.object.unpaid_amount > 0
                          Unpaid Order
                        - else
                          = order.check_box
              %tfoot
                %tr
                  %td.text-center{ colspan: 7 }
                    = f.submit 'Generate Invoice', class: 'btn btn-primary'
                    = link_to "Cancel", :back, class: 'btn btn-default'
