= form_for [:admin, @outlet] do |f|
  .form-group
    = f.label :name, class: 'required'
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :country, class: 'required'
    = f.text_field :country, required: true, class: 'form-control'
  .form-group
    = f.label :state, class: 'required'
    = f.text_field :state, required: true, class: 'form-control'
  .form-group
    = f.label :city, class: 'required'
    = f.text_field :city, required: true, class: 'form-control'
  .form-group
    = f.check_box :online_store
    = f.label :online_store
  .form-group.text-center
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'
