= form_for [:admin, @product, @stock] do |f|
  .form-group
    %label Current Quantity
    = @product.outlet_stock_quantity(@current_user.outlet)
  .form-group
    = f.label :new_quantity
    = f.number_field :new_quantity, required: true
  .form-group
    = f.label :code
    = f.text_field :code, required: true
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
