.row
  .col-md-12
    %h2 Stock details for #{@product.name}
    = image_tag @product.images.first.try(:name).try(:thumbnail).try(:url), class: "img-responsive"
  .col-md-10.col-md-offset-1
    .profile-box
      .text-right
        =link_to 'New Stocks', new_admin_product_stock_path(@product)
      %br
      %table
        %tr
          %th Quantity
          %th Opening
          %th In Carts
          %th Ordered
          %th Invoiced
          %th New Quantity
          %th Code
        - @stocks.each do |stock|
          %tr
            %td= stock.quantity
            %td= stock.opening
            %td= stock.in_carts
            %td= stock.ordered
            %td= stock.invoiced
            %td= stock.new_quantity
            %td= stock.code
