= form_for [:admin, @role] do |f|
  .form-group
    = f.label :name, class: 'required'
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :discount_percent, class: 'required'
    = f.number_field :discount_percent, required: true, class: 'form-control', step: 'any'
  .form-group.permissions
    - permission = nil
    = f.collection_check_boxes(:permission_ids, Permission.all.order(:name), :id, :description) do |b|
      - if permission != b.object.name
        .h4.text-capitalize= b.object.name
        - permission = b.object.name
      .styled-checkboxes
        = b.check_box class: 'role-selector'
        = b.label
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
