.row
  .col-md-12
    %h2 Roles
  .col-md-12
    .profile-box
      .text-right
        =link_to 'New Role', new_admin_role_path
      %br
      %table
        %tr
          %th Name
          %th.text-right Discount Percent
          %th.text-center Actions
        - @roles.each do |role|
          %tr
            %td= role.name
            %td.text-right= "#{role.discount_percent}%"
            %td.actions.text-center
              = link_to edit_admin_role_path(role) do
                %span.glyphicon.glyphicon-pencil
              = link_to admin_role_path(role), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
                %span.glyphicon.glyphicon-remove
