.row
	.col-md-12
		%h2 Workshop
	.col-md-12
		.profile-box
			%br
			%h3.inline-block Specifications
			/ = link_to 'View All', admin_order_item_customisations_path, class: 'btn btn-link customisation-link'
			%table.table.table-responsive
				%thead
					%tr
						%th Order ID
						%th Date
						%th Item Name
						%th Specification
						%th Requirement
						%th Status
						%th Assigned To
						%th Last Update
						%th.text-center Actions
				%tbody
					- @order_items.each do |order_item|
						- rowspan = order_item.customisations_count + order_item.image_customisations_count + 1
						%tr
							%td{ rowspan: rowspan }= order_item.order_id
							%td{ rowspan: rowspan }= order_item.created_at.strftime '%d-%m-%Y %H:%M'
							%td{ rowspan: rowspan }= order_item.product.name
							- order_item.customisations.includes(:user).each do |customisation|
								%tr
									%td= customisation.specification.name
									%td= customisation.value
									%td= customisation.status.humanize
									%td
										- if customisation.user.present?
											= customisation.user.try(:name)
										- else
											= form_tag admin_workshop_assign_path	do
												= select_tag :user_id, options_for_select(User.workshop_user.pluck(:name, :id))
												= hidden_field_tag :customisation, 'customisation'
												= hidden_field_tag :id, customisation.id, id: "customisation-#{customisation.id}"
												= button_tag do
													%span.glyphicon.glyphicon-ok
									%td= customisation.updated_at.strftime '%d-%m-%Y %H:%M'
									%td.actions.text-center
										- if can? :manage, customisation
											= link_to 'Edit Status', edit_admin_order_item_customisation_path(customisation)
							- order_item.image_customisations.includes(:user).each do |customisation|
								%tr
									%td= customisation.characteristic.name
									%td= image_tag customisation.characteristic_image.name.small
									%td= customisation.status.humanize
									%td
										- if customisation.user.present?
											= customisation.user.try(:name)
										- else
											= form_tag admin_workshop_assign_path	do
												= select_tag :user_id, options_for_select(User.workshop_user.pluck(:name, :id))
												= hidden_field_tag :customisation, 'image-customisation'
												= hidden_field_tag :id, customisation.id, id: "image-customisation-#{customisation.id}"
												= button_tag do
													%span.glyphicon.glyphicon-ok
									%td= customisation.updated_at.strftime '%d-%m-%Y %H:%M'
									%td.actions.text-center
										- if can? :manage, customisation
											= link_to 'Edit Status', edit_admin_order_item_image_customisation_path(customisation)
			%hr
			/ = link_to 'View All', admin_order_item_image_customisations_path, class: 'btn btn-link customisation-link'