.modal.fade.password-reset-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'password-reset-label' }
  .modal-dialog
    = form_for [:front, @current_customer], url: front_customer_path, remote: true do |f|
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
            %span{ 'aria-hidden' => true } &times;
          %h4.modal-title#password-reset-label Reset Password
        .modal-body
          .errors#customer-errors
          .form-group.remove-on-success
            = f.label :password, class: 'required'
            = f.password_field :password, required: true, class: 'form-control'
          .form-group.remove-on-success
            = f.label :password_confirmation, 'Confirm', class: 'required'
            = f.password_field :password_confirmation, required: true, class: 'form-control'
        .modal-footer
          = f.button 'Save', name: :next, value: :save, class: 'btn btn-primary remove-on-success'
          %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
