.row
	.col-md-12
		%h1= "Welcome  #{@current_customer.try(:name)}"
		.col-md-6.col-md-offset-3
			.profile-box
			= form_for [:front, @current_customer], url: front_customer_path do |f|
				.form-group
					= f.label :name, class: 'required'
					= f.text_field :name, required: true
				.form-group
					= f.label :phone, class: 'required'
					= f.text_field :phone, required: true
				.form-group
					= f.label :mobile, class: 'required'
					= f.text_field :mobile, required: true, maxlength: 10
				.form-group
					= f.label :email, class: 'required'
					= f.email_field :email, required: true
				.form-group
					= f.label :address, class: 'required'
					= f.text_field :address, required: true
				.form-group
					= f.label :pincode, class: 'required'
					= f.text_field :pincode, required: true, maxlength: 10
				.form-group
					= f.label :city, class: 'required'
					= f.text_field :city, required: true
				.form-group
					= f.label :state, class: 'required'
					= f.text_field :state, required: true
				.form-group
					= f.label :country, class: 'required'
					= f.text_field :country, required: true
				.form-group
					= f.label :company_name
					= f.text_field :company_name
				.form-group
					= f.label :company_address
					= f.text_field :company_address
				.form-group
					= f.label :company_phone
					= f.text_field :company_phone
				.form-group.text-center
					= f.button 'Save', name: :next, value: :save, class: 'btn btn-default'

