.row
	.col-md-4
		.login-fields
			= form_for :customer do |f|
				%fieldset
					%legend Forgotten Password?
					%p.text-left Please enter your email, and we will get you back track in no time!
					.form-group
						= f.label :email
						= f.text_field :email, required: true
					.form-group
						= link_to 'Back', :back, class: 'btn btn-default pull-left'
						= f.submit "Reset Password", class: "btn btn-primary pull-right", id: "submit"
