.row
	.col-md-4
		%fieldset
			%h3 Existing Customer
			%hr
		.login-fields
			= form_for @customer, url: login_front_customer_path, method: :post do |f|
				%fieldset
					.form-group
						= f.label :email, class: 'required'
						= f.email_field :email, required: true, class: 'form-control'
					.form-group
						= f.label :password, class: 'required'
						= f.password_field :password, required: true, class: 'form-control'
					.form-group
						= link_to 'Forgot Password?', forgot_password_front_customer_path, class: 'pull-left'
						= f.submit 'Log in', class: 'btn btn-default pull-right'
	.col-md-4.col-md-offset-3
		%fieldset
			%h3 New Customer
			%hr
			%p.text-left Please create an account below.
			.login-fields
				= form_for @customer, url: front_customer_path do |f|
					%fieldset
						.form-group
							= f.label :email, class: 'required'
							= f.email_field :email, required: true, class: 'form-control'
						.form-group
							= f.label :password, class: 'required'
							= f.password_field :password, required: true, class: 'form-control'
						.form-group
							= f.label :password_confirmation, class: 'required'
							= f.password_field :password_confirmation, required: true, class: 'form-control'
						.form-group
							= f.submit 'Create Account', class: 'btn btn-default pull-right'
