.row
	.col-md-4.col-md-offset-4
		.login-fields
			= form_for :customer do |f|
				%fieldset
					%legend Reset your password
					.form-group
						= f.label :password, class: 'required'
						= f.password_field :password, required: true, class: 'form-control'
					.form-group
						= f.label :password, 'Re-enter Password', class: 'required'
						= f.password_field :password, required: true, class: 'form-control'
					.form-group
						= f.submit 'Reset', class: 'btn btn-primary pull-right', id: 'submit'
