= content_tag_for :div, category do
	%span.category-name
		= category.name
		%small= truncate category.description, length: 50
	%span.actions.pull-right
		= link_to new_admin_category_category_path(category.id), remote: true do
			%span.glyphicon.glyphicon-plus
		= link_to edit_admin_category_path(category), remote: true do
			%span.glyphicon.glyphicon-pencil
		= link_to admin_category_path(category), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
			%span.glyphicon.glyphicon-remove
%ul
