= form_for [:admin, @product] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :code
    = f.text_field :code, required: true
  .form-group
    = f.label :description
    = f.text_area :description, required: true
  .form-group
    = f.label :price
    = f.number_field :price, required: true
  .form-group
    = f.label :sale_price
    = f.number_field :sale_price
  .form-group
    = f.label :product_type_id
    = f.select :product_type_id, ProductType.pluck(:name, :id)
  .form-group
    = f.label :saleable_online, 'Sell Online'
    = f.check_box :saleable_online
  #images
    = f.fields_for :images do |image|
      = render 'image_fields', f: image
    .links.text-center
      = link_to_add_association 'Add More Images', f, :images, class: 'add-product btn btn-primary'
  %br
  .form-group.text-center
    %button.btn.btn-primary{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '.categories-modal' }
      Select Categories
    %button.btn.btn-primary{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '.cross-sell-modal' }
      Cross Sell Products
  .modal.fade.categories-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'product-category-label' }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
            %span{ 'aria-hidden' => true } &times;
          %h4.modal-title#product-category-label Categories
        .modal-body
          = f.collection_check_boxes(:category_ids, Category.roots, :id, :name) do |category|
            .form-group.category-checkboxes
              = category.check_box
              = category.label
              = render('categories_checkboxes', f: f, category: category.object) if category.object.has_children?
        .modal-footer
          %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
  .modal.fade.cross-sell-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'cross-sell-label' }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
            %span{ 'aria-hidden' => true } &times;
          %h4.modal-title#cross-sell-label Cross Sell
        .modal-body
          .row
            = f.collection_check_boxes(:cross_sale_product_ids, Product.pluck(:id, :name), :first, :second) do |product|
              .col-md-4
                = product.check_box
                = product.label
        .modal-footer
          %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' } Close
  .form-group.text-center
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'
