= form_for [:admin, @product] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :code
    = f.text_field :code, required: true
  .form-group
    = f.label :description
    = f.text_area :description, required: true
  .form-group
    = f.label :price
    = f.text_field :price, required: true
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
