= form_for [:admin, @product] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :code
    = f.text_field :code, required: true
  .form-group
    = f.label :description
    = f.text_area :description, required: true
  .form-group
    = f.label :price
    = f.number_field :price, required: true
  .form-group
    = f.label :sale_price
    = f.number_field :sale_price
  #images
    = f.fields_for :images do |image|
      = render 'image_fields', f: image
    .links
      = link_to_add_association 'add image', f, :images, class: 'add-product btn btn-primary'
  %strong Categories
  = f.collection_check_boxes(:category_ids, Category.roots, :id, :name) do |category|
    .form-group.category-checkboxes
      = category.check_box
      = category.label
      = render('categories_checkboxes', f: f, category: category.object) if category.object.has_children?
  .form-group
    = f.label :product_type_id
    = f.select :product_type_id, ProductType.pluck(:name, :id)
  .form-group.text-center
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'
