%h2 Product Information
.form-group
  = f.label :name
  = f.text_field :name, required: true
.form-group
  = f.label :code
  = f.text_field :code, required: true
.form-group
  = f.label :description
  = f.text_area :description, required: true
= render 'grouped_products', f: f if @product.is_a? ProductGroup
.form-group
  = f.label :price
  = f.number_field :price, required: true, step: :any
.form-group
  = f.label :sale_price
  = f.number_field :sale_price, step: :any
.form-group
  = f.label :product_type_id
  = f.select :product_type_id, ProductType.pluck(:name, :id)
.form-group
  = f.label :saleable_online, 'Sell Online'
  = f.check_box :saleable_online