.row
  .col-md-12
    %h2= "#{@products.first.class}"
  .col-md-12
    .product-container
      .row
        .col-md-4= paginate @products
        .col-md-4
          = form_tag search_admin_products_path, method: :get do
            .input-group
              = text_field_tag :q, params[:q], placeholder: 'Search Products by Name/Description', class: 'form-control'
              %span.input-group-btn
                %button.btn.btn-default{ type: 'submit' }
                  %span.glyphicon.glyphicon-search
          %br
        .col-md-4.text-right
          = link_to 'New Grouped Product', new_admin_product_group_path
          |
          = link_to 'New Product', new_admin_product_path
      .row
        - @products.each do |product|
          .col-md-3
            = content_tag_for(:div, product) do
              = render product
      .row
        .col-md-6= paginate @products
