.row
	.col-md-12
		%h2 Product
	.col-md-6.col-md-offset-3
		.profile-box
			.text-right
				=link_to 'Edit Product', edit_admin_product_path(@product)
			%p
				%strong.title Name:
				= @product.name
			%p
				%strong.title Code:
				= @product.code
			%p
				%strong.title Description:
				= @product.description
			%p
				%strong.title Price:
				= @product.price
			%p
				%strong.title Active:
				= @product.active
			%p
				%strong.title Product Type:
				= @product.product_type.name
