.row
	.col-md-12
		%h2= "Update Status - #{@order_item_image_customisation.order_item.product.name}"
	.col-md-12
		.profile-box
			= form_for [:admin, @order_item_image_customisation] do |f|
				.row
					.col-md-6
						%p
							%strong Image Specification:
						= @order_item_image_customisation.characteristic.name
					.col-md-6
						%p
							%strong Image:
						= image_tag @order_item_image_customisation.characteristic_image.name.small
				%br
				%br
				.form-group
					= label_tag 'Current Status:'
					%br
					= @order_item_image_customisation.status.humanize
				.form-group
					= f.label :status
					- statuses = OrderItemImageCustomisation.statuses
					= f.select :status, statuses.map{ |k, v| [k.humanize, k]  }.drop([statuses[@order_item_image_customisation.status] + 1, 2].min), {}, class: 'form-control'
				.form-group.text-center
					= f.submit "Submit", class: "btn btn-primary"
					= link_to "Cancel", :back, class: "btn btn-default"
