.row
  %h1.text-center= @category.name
- @category.products.includes(:product_type).each do |product|
  .col-md-3
    .product-box
      .product-image
        = link_to product_path(product) do
          = image_tag product.images.first.try(:name).try(:small).try(:url), class: "img-responsive"
      .product-name
        = link_to product.name, product_path(product)
      .product-code= product.code
      .product-description= product.description
      .product-price= number_to_currency product.price_with_taxes
