.nested-fields.form-inline
	.form-group.image-code
		= f.label :code
		= f.text_field :code, class: 'form-control'
	.form-group
		- if f.object.name?
			.relative.inline-block.changable-image
				= image_tag f.object.name.small, class: 'img-responsive'
				= f.file_field :name, class: 'absolute'
			= f.label :name, 'Change Image', class: 'btn btn-default'
			= link_to_remove_association f, class: 'delete-link btn btn-default' do
				%span.glyphicon.glyphicon-remove
		- else
			= f.label :name, 'Product Image'
			= f.file_field :name
	%hr
