.row
  .col-md-12
    %h2 Image Specifications
  .col-md-12
    .profile-box
      .row
        .col-md-6= paginate @characteristics
        .col-md-6
          .text-right
            =link_to 'New Image Specification', new_admin_characteristic_path
      .row
        .col-md-12
          %br
          %table
            %tr
              %th Name
              %th.text-center Actions
            - @characteristics.each do |characteristic|
              %tr
                %td= characteristic.name
                %td.actions.text-center
                  = link_to edit_admin_characteristic_path(characteristic) do
                    %span.glyphicon.glyphicon-pencil
                  = link_to admin_characteristic_path(characteristic), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do
                    %span.glyphicon.glyphicon-remove
      .row
        .col-md-6= paginate @characteristics
