<div class="row">
  <div class="col-md-12">
    <h2>Image Specifications</h2>
  </div>
  <div class="col-md-12">
    <div class="profile-box">
      <div class="row">
        <div class="col-md-6">
          <%= paginate @characteristics %>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            <%= link_to 'New Image Specification', new_admin_characteristic_path %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br/>
          <table>
            <tr>
              <th>Name</th>
              <th class="text-center">Actions</th>
            </tr>
            <% @characteristics.each do |characteristic| %>
              <tr>
                <td>
                  <%= characteristic.name %>
                </td>
                <td class="actions text-center">
                  <%= link_to edit_admin_characteristic_path(characteristic) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                  <%= link_to admin_characteristic_path(characteristic), method: :delete, class: 'delete-link', 'data-confirm' => 'Are you sure?' do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= paginate @characteristics %>
        </div>
      </div>
    </div>
  </div>
</div>
