= form_for [:admin, @user] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :username
    = f.text_field :username, required: true
  - if @user.new_record?
    = f.label :outlet_id
    = f.select :outlet_id, Outlet.pluck(:name, :id)
    .form-group
      = f.label :password
      = f.password_field :password, required: true
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, required: true
  .form-group
    = f.label :phone, 'Contact No'
    = f.text_field :phone, required: true
  .form-group
    = f.label :email
    = f.text_field :email, required: true
  .form-group
    = f.label :address
    = f.text_field :address, required: true
  .form-group
    = f.label :pincode
    = f.text_field :pincode, required: true
  .form-group
    = f.label :city
    = f.text_field :city, required: true
  .form-group
    = f.label :state
    = f.text_field :state, required: true
  .form-group
    = f.label :country
    = f.text_field :country, required: true
  .form-group.permissions
    %strong Roles and Permissions
    %br
    %br
    = f.collection_check_boxes(:role_ids, Role.all.includes(:permissions), :id, :name) do |b|
      .product_type.text-center
        .styled-checkboxes
          = b.check_box class: 'role-selector'
          = b.label
        - b.object.permissions.each do |permission|
          .styled-checkboxes.role-permissions{ class: "permissions-#{b.object.id}" }
            = check_box_tag 'user[permission_ids][]', permission.id, @user.permissions.pluck(:id).include?(permission.id), id: "user_permission_ids_#{permission.id}"
            = label_tag "user_permission_ids_#{permission.id}", "#{permission.name} #{permission.description}"
      %br
      %br
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
