= form_for [:admin, @user] do |f|
  .form-group
    = f.label :name, class: 'required'
    = f.text_field :name, required: true, class: 'form-control'
  .form-group
    = f.label :username, class: 'required'
    = f.text_field :username, required: true, class: 'form-control'
  .form-group
    %strong User Type
    %br
    %br
    - if can? :manage, User.main_boss
      .styled-checkboxes.text-center
        = f.check_box :main_boss
        = f.label :main_boss
    - if can? :manage, User.store_boss
      .styled-checkboxes.text-center
        = f.check_box :store_boss
        = f.label :store_boss
  - if @user.new_record?
    = f.label :outlet_id, class: 'required'
    = f.select :outlet_id, Outlet.pluck(:name, :id), {}, class: 'form-control'
    .form-group
      = f.label :password, class: 'required'
      = f.password_field :password, required: true, class: 'form-control'
    .form-group
      = f.label :password_confirmation, class: 'required'
      = f.password_field :password_confirmation, required: true, class: 'form-control'
  .form-group
    = f.label :phone, 'Contact No', class: 'required'
    = f.text_field :phone, maxlength: 10, required: true, class: 'form-control'
  .form-group
    = f.label :email, class: 'required'
    = f.text_field :email, required: true, class: 'form-control'
  .form-group
    = f.label :address, class: 'required'
    = f.text_field :address, required: true, class: 'form-control'
  .form-group
    = f.label :pincode, class: 'required'
    = f.text_field :pincode, maxlength: 6, required: true, class: 'form-control'
  .form-group
    = f.label :city, class: 'required'
    = f.text_field :city, required: true, class: 'form-control'
  .form-group
    = f.label :state, class: 'required'
    = f.text_field :state, required: true, class: 'form-control'
  .form-group
    = f.label :country, class: 'required'
    = f.text_field :country, required: true, class: 'form-control'
  .form-group.permissions
    %strong Roles and Permissions
    %br
    %br
    = f.collection_check_boxes(:role_ids, Role.all.includes(:permissions), :id, :name) do |b|
      .product_type.text-center
        .styled-checkboxes
          = b.check_box class: 'role-selector'
          = b.label
        - b.object.permissions.each do |permission|
          .styled-checkboxes.role-permissions{ class: "permissions-#{b.object.id}" }
            = check_box_tag 'user[permission_ids][]', permission.id, @user.permissions.pluck(:id).include?(permission.id), id: "user_permission_ids_#{permission.id}"
            = label_tag "user_permission_ids_#{permission.id}", "#{permission.name} #{permission.description}"
      %br
      %br
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
