= form_for [:admin, @user] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, required: true
  .form-group
    = f.label :username
    = f.text_field :username, required: true
  - if @current_user.super_admin? || @current_user == @user
    = f.hidden_field :role, value: User::ROLES.second
  - else
    .form-group
      = f.label :role
      = f.collection_select :role, User::ROLES.drop(2), lambda{|i| i}, lambda{|i| i.humanize}
  - if @user.new_record?
    - if @current_user.super_admin?
      .form-group
        = f.label :outlet_id
        = f.select :outlet_id, Outlet.pluck(:name, :id)
    - else
      = f.hidden_field :outlet_id, value: @current_user.outlet_id
    .form-group
      = f.label :password
      = f.password_field :password, required: true
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, required: true
  .form-group
    = f.label :phone, 'Contact No'
    = f.text_field :phone, required: true
  .form-group
    = f.label :email
    = f.text_field :email, required: true
  .form-group
    = f.label :address
    = f.text_field :address, required: true
  .form-group
    = f.label :pincode
    = f.text_field :pincode, required: true
  .form-group
    = f.label :city
    = f.text_field :city, required: true
  .form-group
    = f.label :state
    = f.text_field :state, required: true
  .form-group
    = f.label :country
    = f.text_field :country, required: true
  .form-group.text-center
    = f.submit "Submit", class: "btn btn-primary"
    = link_to "Cancel", :back, class: "btn btn-default"
