.row
	.col-md-6.col-md-offset-3
		.login-fields.text-center
			= image_tag 'admin/logo.jpg'
			= form_for :user do |f|
				%fieldset
					%legend Forgotten Password?
					%p.text-left Please enter your username, and we will get you back track in no time!
					.form-group.text-left
						= f.label :username, class: 'required'
						= f.text_field :username, required: true, class: 'form-control'
					.form-group
						= link_to 'Back', :back, class: 'btn btn-default pull-left'
						= f.submit "Reset Password", class: "btn btn-primary pull-right", id: "submit"
