.row
  .col-md-12
    %h2 Reset User Password
  .col-md-12
    .profile-box
      = form_for [:admin, @user] do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control', disabled: true
        .form-group
          = f.label :username
          = f.text_field :username, class: 'form-control', disabled: true
        .form-group
          = f.label :password, 'New Password', class: 'required'
          = f.password_field :password, required: true, class: 'form-control'
        .form-group
          = f.label :password_confirmation, class: 'required'
          = f.password_field :password_confirmation, required: true, class: 'form-control'
        .form-group.text-center
          = f.submit "Submit", class: "btn btn-primary"
          = link_to "Cancel", :back, class: "btn btn-default"