.row
	.col-md-12
		%h2 Profile
	.col-md-12
		.profile-box
			.text-right
				=link_to 'Edit Profile', edit_admin_user_path(@user)
			%p
				%strong.title Name:
				= @user.name
			%p
				%strong.title Username:
				= @user.username
			%p
				%strong.title Email:
				= @user.email
			%p
				%strong.title Contact No:
				= @user.phone
			%p
				%strong.title Address:
				= @user.address
			%p
				%strong.title Pincode:
				= @user.pincode
			%p
				%strong.title City:
				= @user.city
			%p
				%strong.title State:
				= @user.state
			%p
				%strong.title Country:
				= @user.country