!!!
%html
	%head
		%title Damian de Goa
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
		= favicon_link_tag 'favicon.ico'
		= stylesheet_link_tag 'front/application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'front/application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.container-fluid.main-container
			%header
				.row
					.col-md-6
						= link_to front_root_path do
							= image_tag 'logo.png', class: 'img-responsive'
					.col-md-6.text-right
						.customer-menu
							- if customer_logged_in?
								%span= "Welcome  #{@current_customer.name} | "
								= link_to 'Edit Account', edit_front_customer_path
								|
								= link_to 'Log out', logout_front_customer_path, method: :delete
							-	else
								= link_to 'Sign In/Register', login_front_customer_path
						.cart-menu
							= link_to edit_front_cart_path do
								%span.glyphicon.glyphicon-shopping-cart
								%span.badge= online_cart_count
		= render 'category_menu'
		- if current_page? front_root_path
			.slider-container
				.home-slider.nivo-slider#slider
					- @banners.each do |banner|
						= link_to front_offer_path(banner) do
							= image_tag banner.image
		.container-fluid.main-container
			.main-content
				= render 'error_messages'
				= yield
			%footer
				.row
					.col-md-6
						%ul.list-unstyled
							- ContentPage.menu_items.pluck(:slug, :link_text).each do |menu_item|
								%li= link_to menu_item[1], front_page_path(menu_item[0])
							%li= link_to 'Contact Us', front_pages_contact_path
					.col-md-3
						= link_to 'https://www.facebook.com/pages/Damian-de-Goa/532272703493618', target: :_blank do
							%span.sprites.facebook
							Follow Us
					.col-md-3.text-right
						%a{ href: 'tel:+918322417045' }
							%span.sprites.phone
							0832 - 2417045
						\/
						%a{ href: 'tel:+918322413737' } 2413737
						\/
						%a{ href: 'tel:+918322412126' } 2412126
						%br
						%a{ href: 'mailto:&#100;&#100;&#103;&#103;&#111;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;'.html_safe } &#100;&#100;&#103;&#103;&#111;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
						%br
						&copy; #{Time.now.year}
						= link_to 'Karbens InfoTech Pvt. Ltd.', 'http://karbens.com/', target: :_blank
						%br
						All Rights Reserved.
