!!!
%html
	%head
		%title Damian de Goa
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
		= favicon_link_tag 'favicon.ico'
		= stylesheet_link_tag 'front/application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'front/application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.container-fluid.main-container
			%header
				.row
					.col-md-6
						= link_to front_root_path do
							= image_tag 'logo.png', class: 'img-responsive'
					.col-md-6.text-right
						.customer-menu
							- if customer_logged_in?
								%span= "Welcome  #{@current_customer.name} | "
								= link_to 'Edit Account', edit_front_customer_path
								|
								= link_to 'Log out', logout_front_customer_path, method: :delete
							-	else
								= link_to 'Sign In', login_front_customer_path
						.cart-menu
							= link_to edit_front_cart_path do
								%span.glyphicon.glyphicon-shopping-cart
								%span.badge= online_cart_count
				.row
					.col-md-12
						= render 'category_menu'
			.main-content
				= render 'error_messages'
				= yield
			%footer
				.row
					.col-md-6
						- ContentPage.menu_items.pluck(:slug, :link_text).each do |menu_item|
							= link_to menu_item[1], front_page_path(menu_item[0])
					.col-md-3
						= link_to 'https://www.facebook.com/pages/Damian-de-Goa/532272703493618', target: :_blank do
							%span.sprites.facebook
							Follow Us
					.col-md-3.text-right
						%a{ href: 'tel:+918322417045' }
							%span.sprites.phone
							0832 - 2417045
						\/
						%a{ href: 'tel:+918322413737' } 2413737
						\/
						%a{ href: 'tel:+918322412126' } 2412126
						%br
						%br
						© #{Time.now.year} Karbens InfoTech Ltd. All Rights Reserved.
