= form_for [:admin, @coupon_code] do |f|
  .row
    .col-md-12
      %br
      = f.hidden_field :current_step
      = render "#{@coupon_code.current_step}_step", f: f
  .form-group.text-center
    = f.button 'Previous', name: 'go_to', value: 'back', class: 'btn btn-default' unless @coupon_code.first_step?
    = f.submit 'Save', class: 'btn btn-primary'
    = f.button 'Next', name: 'go_to', value: 'next', class: 'btn btn-default' unless @coupon_code.last_step?
