.row
  .col-md-12
    .row
      .col-md-2
      .col-md-8
        .nivo-slider#slider
          - @banners.each do |banner|
            = link_to banner.url do
              = image_tag banner.image
      .col-md-2
    .row
      - @products.each do |product|
        .col-lg-2.col-md-3.col-sm-4.col-xs-6
          .product-box
            .product-image.text-center
              = link_to front_product_path(product) do
                = image_tag product.images.first.try(:name).try(:small).try(:url), class: "img-responsive"
            .product-name
              = link_to product.name, front_product_path(product)
            .product-code.hidden-xs= product.code
            .product-description.hidden-xs= product.description
            .price-cart
              .product-price.inline-block= decorated_frontend_price(product)
              - if product.online_stock > 0
                = form_tag add_front_cart_path, class: 'form-inline inline-block pull-right' do
                  = hidden_field_tag :product_id, product.id
                  = hidden_field_tag :quantity, 1
                  = button_tag class: 'btn btn-primary' do
                    %span.glyphicon.glyphicon-shopping-cart
