.row
	.col-md-12
		.row
			.col-md-12
				%h1.text-center= @product.name
			.col-md-4
				= image_tag @product.images.first.try(:name).try(:medium).try(:url), class: 'img-responsive product-medium', 'data-toggle' => 'modal', 'data-target' => '.images-modal'
				.thumbnail-gallery.main-thumbnails
					- @product.images.each do |image|
						= image_tag image.name.try(:thumbnail).try(:url), data: { 'medium-url' => image.name.try(:medium).try(:url) }, class: 'product-thumbnail'
			.col-md-4
				.profile-box
					.text-center
						%strong.title Item Overview
						%hr
					.full-description= @product.description
			.col-md-4
				- if @product.online_stock > 0
					= form_tag add_front_cart_path do
						= hidden_field_tag :product_id, @product.id
						= select_tag :quantity, options_for_select(1..[@product.online_stock, 10].min), class: 'product-quantity text-right'
						%span.h4.pull-right
							%strong.title Price:
							= decorated_frontend_price(@product)
						%br
						%br
						= button_tag 'Buy Now', class: 'btn btn-default btn-block btn-lg'
				- else
					%span.h4
						%strong.title Price:
						= decorated_frontend_price(@product)
					%br
					%br
					.out-of-stock.bg-warning.text-center Out of Stock
			- if @product.cross_sale_products.online.size > 0
				.col-md-12
					.row
						.col-md-12
							%h3 You might also like
						- @product.cross_sale_products.online.limit(4).each do |product|
							.col-md-3.col-sm-4.col-xs-6
								.product-box
									.product-image
										= link_to front_product_path(product) do
											= image_tag product.images.first.try(:name).try(:small).try(:url), class: "img-responsive"
									.product-name
										= link_to product.name, front_product_path(product)
									.product-code.hidden-xs= product.code
									.product-description.hidden-xs= product.description
									.price-cart
										.product-price.inline-block= decorated_frontend_price(product)
										- if product.online_stock > 0
											= form_tag add_front_cart_path, class: 'form-inline inline-block pull-right' do
												= hidden_field_tag :product_id, product.id
												= hidden_field_tag :quantity, 1
												= button_tag class: 'btn btn-default' do
													%span.glyphicon.glyphicon-shopping-cart
		.modal.fade.images-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myLargeModalLabel' }
			.modal-dialog.modal-xl
				.modal-content
					.row.full-height
						.col-md-10.text-center.full-height
							.popup-image.full-height
								.image-container.full-height
									= image_tag @product.images.try(:first).try(:name).try(:medium).try(:url), class: 'product-medium zoom-image', data: { 'large-url' => @product.images.try(:first).try(:name).try(:url), 'medium-url' => @product.images.try(:first).try(:name).try(:medium).try(:url), zoomed: false }
						.col-md-1
							.thumbnail-gallery
								- @product.images.each do |image|
									= image_tag image.name.try(:thumbnail).try(:url), data: { 'medium-url' => image.name.try(:medium).try(:url), 'large-url' => image.name.try(:url) }, class: 'product-thumbnail'
