.row
	.col-md-12
		.row
			.col-md-12
				%h1.text-center= @product.name
			.col-md-4
				= image_tag @product.images.first.try(:name).try(:medium).try(:url), class: 'img-responsive product-medium zoom-image', 'data-zoom-image' => @product.images.first.try(:name).try(:url)
				.thumbnail-gallery.main-thumbnails#thumbnail-gallery
					- @product.images.each_with_index do |image, index|
						%a{ href: '#', 'data-image' => image.name.try(:medium).try(:url), 'data-zoom-image' => image.try(:name).try(:url), class: ('active-image' if index == 0 )}
							= image_tag image.name.try(:thumbnail).try(:url)
			.col-md-4
				.profile-box
					.text-center
						%strong.title Item Overview
						%hr
					.full-description= @product.description
					.specifications
						.h4 Specifications
						%table.table.table-striped
							- @product.product_specifications.includes(:specification).pluck(:name, :value, :units).each do |specification|
								%tr
									%th= specification[0]
									%td= "#{specification[1]} #{specification[2]}"
			.col-md-4
				= large_decorated_frontend_price(@product)
				%br
				%br
				- if @product.online_stock > 0
					= form_tag add_front_cart_path do
						= hidden_field_tag :product_id, @product.id
						= select_tag :quantity, options_for_select(1..[@product.online_stock, 10].min), class: 'product-quantity text-right'
						= button_tag 'Buy Now', class: 'btn btn-primary btn-lg'
				- else
					.out-of-stock.bg-warning.text-center Out of Stock
			- if @product.cross_sale_products.online.size > 0
				.col-md-12
					%hr
					.row
						.col-md-12
							%h3 You might also like
						- @product.cross_sale_products.online.limit(4).each do |product|
							.col-md-3.col-sm-4.col-xs-6
								.product-box
									.product-image
										= link_to front_product_path(product) do
											= image_tag product.images.first.try(:name).try(:small).try(:url), class: "img-responsive"
									.product-name
										= link_to product.name, front_product_path(product)
									.product-code.hidden-xs= product.code
									.product-description.hidden-xs= product.description
									.price-cart
										.product-price.inline-block= decorated_frontend_price(product)
										- if product.online_stock > 0
											= form_tag add_front_cart_path, class: 'form-inline inline-block pull-right' do
												= hidden_field_tag :product_id, product.id
												= hidden_field_tag :quantity, 1
												= button_tag class: 'btn btn-default' do
													%span.glyphicon.glyphicon-shopping-cart
.modal.fade.images-modal{ tabindex: '-1', role: 'dialog' }
	.modal-dialog.modal-lg
		.modal-content.text-center
			= image_tag 'product.jpg', class: 'img-responsive zoomed-image'
